
@{
    ViewBag.Title = "index";
}
AS
<h1>index</h1>
<form action="/home/index" method="post">
    <input type="text" name="userid"/>
    <input type="text" name="age" />
    <input type="submit" name="제출" />
</form>
